<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h3>Chat Application</h3>
    <h4>Choose your role:</h4>

    <input id="username" type="text" placeholder="Your Username" />
    <input id="roomname" type="text" placeholder="Roomname" />
    <input id="agent_selected" type="button" value="Connect Chat as a Agent" />
    <input
      id="customer_selected"
      type="button"
      value="Connect Chat as a a Customer"
    />
    {{errors}}
    <script>
      document.querySelector("#agent_selected").onclick = function (e) {
        var userName = document.querySelector("#username").value;
        var roomName = document.querySelector("#roomname").value;
        if (userName == "" || roomName == "") {
          window.alert("All fields compulsory.");
        } else {
          window.location.replace(
            "http://" +
              window.location.host +
              "/" +
              roomName +
              "/?username=" +
              userName +
              "&role=agent"
          );
        }
      };
      document.querySelector("#customer_selected").onclick = function (e) {
        var userName = document.querySelector("#username").value;
        var roomName = document.querySelector("#roomname").value;
        if (userName == "" || roomName == "") {
          window.alert("All fields compulsory.");
        } else {
          window.location.replace(
            "http://" +
              window.location.host +
              "/" +
              roomName +
              "/?username=" +
              userName +
              "&role=customer"
          );
        }
      };
    </script>
  </body>
</html>
